.border-card {
    border-bottom: 1.2px solid rgb(149, 149, 149);
}

.box-card {
    border: none;
    margin-top: 20px;
}

.dados-estabelecimento {
    margin-top: 10px;
}

.button-editar {
    margin: 2.5%;
}

.scroll {
    height: 780px;
    overflow: hidden;
}

.scroll:hover {
    overflow: auto;
}

form.container{
    top: 10px;
}

.label-input{
    margin: 5px auto;
}

.label-input-1{
    margin: 10px 45px;
}